@charset "UTF-8";
/****************************************************************/
/* 게시판 공통 ***************************************************/
/****************************************************************/
#board table {
    width: 1000px;
    border-collapse: collapse; 
}

/* 폼요소 그룹 */
#board .form-group {
    padding: 5px 0px 5px 0px;
}

/****************************************************************/
/* 게시판 리스트 ************************************************/
/****************************************************************/
/* 검색버튼 */
#board #list #btn_search {
	padding: 3px 10px 3px 10px;
}

/* 게시판 table */
#board #list table>thead>tr {
    border-top: 2px solid #808080; 
    border-bottom: 2px solid #808080;
    background-color: #DDDDDD; 
    padding: 0px;
}

#board #list table>thead>tr>th {
    padding: 10px 0px 10px 0px;
    font-weight: bold; 
}

#board #list table>tbody>tr { 
    border-bottom: 1px solid #808080;
}

#board #list table>tbody>tr:hover { 
	background-color: #cbf77b; 
}

#board #list table>tbody>tr>td {
    padding: 10px 0px 10px 0px;
}




